{% extends "baseheader.html" %}
{% block title %}Crea nuova gara{% endblock %}

{% block content %}

<div class="container">
<h3>Crea una nuova gara</h3>

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.errors }}

    {% include 'gara/parametri.html' %}

    <button id="submit" type="submit" class="btn btn-primary">Crea gara</button>
</form>
</div>
{% endblock %}
