{% extends "basegara.html" %}
{% block title %}{{object.nome}} admin{% endblock %}

{% block content %}
<h3>Gara: <a href="{% url 'engine:gara-detail' object.pk %}">{{ object.nome }}</a></h3>


<h5><a href="{% url 'engine:gara-parametri' object.pk %}"> <i class="fas fa-cog"></i> Parametri</a></h5>
<h5><a href="{% url 'engine:gara-risposte' object.pk %}"> <i class="fas fa-tasks"></i> Soluzioni</a><br/></h5>
<h5><a href="{% url 'engine:gara-squadre' object.pk %}"> <i class="fas fa-users"></i> Squadre</a><br/></h5>
{% if object.inizio is not null %}
<h5><a href="{% url 'engine:query' object.pk %}"> <i class="fas fa-database"></i> Query</a><br/></h5>
{% endif %}

<p>
{% if object.inizio is not null %}
Iniziata {{object.inizio}};
{% if not object.finished %}
finisce {{object.get_ora_fine}}.
{% else %}
finita {{object.get_ora_fine}}.
{% endif %}
</p>

<p>Vai all'<a href="{% url 'engine:inserimento' object.pk %}">inserimento risposte</a>.</p>


{% else %}
<p>
Gara ancora da iniziare<br/>
<form method="post">{% csrf_token %}
    <input type="hidden" name="inizia" value=1>
    <input type="submit" value="Inizia la gara" id="submit">
</form>
</p>
{% endif %}

{% endblock %}
