{% extends "basegara.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %}Inserimento {{object.nome}}{% endblock %}

{% block css %}<link href="{% static 'engine/css/inserimento.css' %}" rel="stylesheet" type="text/css" >{% endblock %}

{% block content %}


<div class="container">

<h3>Gara: <a href="{% url 'engine:gara-detail' object.pk %}">{{object.nome}}</a> - inserimento risposte</h3>

<form method="post" id="form-ins">{% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-row">
        <div class="form-group col-md-12">
        {{ form.squadra|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
            {{ form.problema|as_crispy_field }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            {{ form.risposta|as_crispy_field }}
            </div>
        </div>
    </div>
    {% if object.jolly %}{{ form.jolly|as_crispy_field }}{% endif %}

    <button id="submit" type="submit" class="btn btn-primary" form="form-ins">Inserisci</button>
</form>
  <div class="card mb-3" style="top: 30px">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Risposte consegnate
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>ID Squadra</th>
              <th>Squadra</th>
              <th>Problema</th>
              <th>Valore</th>
              <th>Orario</th>
              <th>Comandi</th>
            </tr>
          </thead>
          <tbody>
              {% for m, e in eventi %}
            <tr id="event{{e.pk}}">
                <td scope="row">{{e.subclass}}</<td>
                <td scope="row">{{e.squadra.num}}</td>
                <td scope="row">{{e.squadra.nome}}</td>
                <td scope="row">
                  <span class="event-static">{{e.problema}}</span>
                  <input type="number" class="event-input" form="edit{{ e.pk }}" name="{% if e.get_valore == "J" %}jolly{% else %}problema{% endif %}" value="{{ e.problema }}">
                </td>
                {% if e.get_valore == "J" %}
                  <td scope="row">J</td>
                {% else %}
                  <td scope="row">
                    <span class="event-static">{{e.get_valore}}</span>
                    <input type="number" class="event-input" form="edit{{ e.pk }}" name="risposta" value="{{ e.get_valore }}">
                  </td>
                {% endif %}
                <td scope="row">{{e.orario}}</td>
                <td scope="row">
                {% if m %}
                  <a href="javascript:void(0)" class="event-actions" onclick="$('#event{{ e.pk }}').addClass('editable-event')" id="modifica-{{ e.pk }}">
                      <i class="fas fa-pen-square fa-2x" title="Modifica"></i>&nbsp;&nbsp;</a>
                  <a href="javascript:void(0)" class="event-actions" onclick="$('#event{{ e.pk }}').addClass('deletable-event')" id="elimina-{{ e.pk }}">
                      <i class="fas fa-trash fa-2x" title="Elimina"></i>&nbsp;&nbsp;</a>

                  <form id="edit{{ e.pk }}" class="edit-actions" method="post" action="{% url 'engine:evento-modifica' pk=e.pk %}">
                      {% csrf_token %}
                      <a href="javascript:void(0)" onclick="$('#edit{{ e.pk }}').submit();" id="modifica-conferma-{{ e.pk }}"><i class="fas fa-check-circle fa-2x" title="Conferma"></i></a>
                  </form>
                  <a href="javascript:void(0)" class="edit-actions" onclick="$('#event{{ e.pk }}').removeClass('editable-event')" id="modifica-annulla-{{ e.pk }}">
                      <i class="fas fa-times-circle fa-2x" title="Annulla"></i></a>

                  <form id="delete{{ e.pk }}" class="delete-actions" method="post" action="{% url 'engine:evento-elimina' pk=e.pk %}">
                      {% csrf_token %}
                      <a href="javascript:void(0)" onclick="$('#delete{{ e.pk }}').submit();" id="elimina-conferma-{{ e.pk }}">
                          <i class="confirm-delete-button fas fa-trash fa-2x" title="Elimina"></i></a>
                  </form>
                  <a href="javascript:void(0)" class="delete-actions" onclick="$('#event{{ e.pk }}').removeClass('deletable-event')" id="elimina-annulla-{{ e.pk }}"><i class="fas fa-times-circle fa-2x" title="Annulla"></i></a>
                {% endif %}
                </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
