.progress {
    height: 24px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 1px;
}

.ospite {
    background-color: gray;
}

.cutoff {
    background-color: green;
}

.small-padding {
    padding: 2px 0px 2px 0.75rem !important;
}

th.squadra {
    padding: 0.1em;
    font-size: larger;
}

#cutoff {
    width: 2px;
    height: 100%;
    position: absolute;
    background: red;
    z-index: 5;
}

td.wrong-answer {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    vertical-align: middle;
    color: white;
}

td.right-answer {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    vertical-align: middle;
    color: white;
}

tr:nth-child(even) .wrong-answer {
    background-color: #dc3545;
}
tr:nth-child(odd) .wrong-answer {
    background-color: firebrick;
}

tr:nth-child(even) .right-answer {
    background-color: forestgreen;
}
tr:nth-child(odd) .right-answer {
    background-color: darkgreen;
}

.points-value {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 130%;
}

.my-fa-stack {
    position: relative;
    margin-left: 0.1em;
    min-width: 1em;
    min-height: 1em;
    display: inline-block;
}

/* Cronaca */
#cronaca_main {
    position: relative;
}
#cronaca_main div {
    position: relative;
}
#cronaca_main a {
    display: block;
}

#frasi {
    overflow: scroll;
    max-height: 80vh;
}

@media (max-width: 992px) {
    #frasi {
        max-height: 30vh;
    }
}


/* Following */
div.following {
    background-color: rebeccapurple;
}

tr.following {
    background-color: yellow !important;
}
