{% extends "classifiche/class_template.html" %}
{% load static %}
{% block title %}Cronaca {{object.nome}}{% endblock %}

{% block class_type %}cronaca{% endblock %}

{% block head %}
{{ block.super }}
<script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
{% endblock %}

{% block main %}
<h3>Gara: <a href="{% url 'engine:gara-detail' object.pk %}">{{object.nome}}</a> - cronaca</h3>
<div class="container-fluid" id="cronaca_main">
    <div class="row no-gutters justify-content-end">
        <h3 id="orologio">##:##:##</h3>
    </div>
    <div class="row">
        <div class="col-lg-9">
            {% for sq in object.get_squadre_order %}
            <div class="row no-gutters" id="div-{{sq.num}}">
                <div class="col-4 col-md-2 small-padding text-truncate font-weight-bold" ><span id="label-{{sq.num}}"></span></div>
                <div class="col-8 col-md-10 small-padding">
                    <div class="progress">
                        <div id="team-{{sq.num}}" class="progress-bar{% if sq.ospite %} ospite{% endif %}" style="width:30%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span id="label-points-{{sq.num}}" class="points-value">0</span></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-3">
            <div class="card">
            <div class="card-header">Telecronaca</div>
            <ul id="frasi" class="list-group list-group-flush" >
                <li class="list-group-item">Stiamo aspettando di partire...</li>
            </ul>
            </div>
        </div>
    </div>

    {% if object.finished %}
    <div class="row pt-3 no-gutters">
        <input type="range" min="0" max="1000" value="1000"  id="myRange">
        <button id="play" class="ml-2"><i class="fas fa-play"></i></button>
    </div>
    {% endif %}

</div>
{% endblock %}
