{% extends "classifiche/class_template.html" %}

{% block title %}Classifica {{object.nome}}{% endblock %}

{% block class_type %}squadre{% endblock %}

{% block main %}
<h3>Gara: <a href="{% url 'engine:gara-detail' object.pk %}">{{object.nome}}</a> - classifica</h3>
<div class="container-fluid">
    <div class="row no-gutters justify-content-end">
        <h3 id="orologio">##:##:##</h3>
    </div>
    <div class="row" id="classifica-container" style="position: relative">
        {% comment %}<div id="cutoff"></div>{% endcomment %}
        <table class="table table-borderless">
        {% for sq in object.get_squadre_order %}
        <tr class="row no-gutters">
            <td class="col-7 col-sm-4 col-lg-2 small-padding text-truncate font-weight-bold">
                <span id="label-pos-{{sq.num}}" style="display: inline-block; min-width: 3em;"></span>
                <span id="label-{{sq.num}}">{{sq.nome}}</span>
            </td>
            <td class="col-sm-8 col-lg-10 small-padding d-none d-sm-block" >
                <div class="progress">
                    <div id="team-{{sq.num}}" class="progress-bar{% if sq.ospite %} ospite{% endif %}" style="width:50%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span id="label-points-{{sq.num}}" class="points-value">0</span></div>
                </div>
            </td>
            <td class="col-5 d-sm-none small-padding" >
                <span id="label-points-mobile-{{sq.num}}" class="points-value">0</span>
            </td>
        </tr>
        {% endfor %}

        </table>
    </div>


    {% if object.finished %}
    <div class="row pt-3 no-gutters">
        <input type="range" min="0" max="1000" value="1000"  id="myRange">
        <button id="play" class="ml-2"><i class="fas fa-play"></i></button>
    </div>
    {% endif %}

</div>
{% endblock %}
