{% extends "classifiche/class_template.html" %}

{% block title %}Stato {{object.nome}}{% endblock %}

{% block class_type %}stato{% endblock %}

{% block main %}
<h3>Gara: <a href="{% url 'engine:gara-detail' object.pk %}">{{ object.nome }}</a> - Stato problemi</h3>

<div class="container-fluid">
    <div class="row no-gutters justify-content-end">
        <h3 id="orologio">##:##:##</h3>
    </div>
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-sm maybe-fixed text-center">
        <thead class="thead-light"><tr>
            <th scope="col" style="width:10%">Sq.</th>
            {% for s in soluzioni %}
            <th scope="col">#{{s.problema|stringformat:"02d"}}</th>
            {% endfor %}
        </tr></thead>
        <tbody>
            {% for sq in object.get_squadre_order %}
            <tr id="riga-{{sq.num}}">
                <th scope="row" class="text-truncate squadra {% if sq.ospite %}text-muted{% endif %}">{{sq.nome}}</th>
                {% for s in soluzioni %}
                  <td id="cell-{{sq.num}}-{{s.problema}}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    {% if object.finished %}
    <div class="row pt-3 no-gutters">
        <input type="range" min="0" max="1000" value="1000"  id="myRange">
        <button id="play" class="ml-2"><i class="fas fa-play"></i></button>
    </div>
    {% endif %}

</div>
{% endblock %}
