{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% if field|is_checkbox %}
        <div id="div_{{ field.auto_id }}" class="checkbox input-group">
            <label for="{{ field.id_for_label }}" class="{% if field.field.required %} font-weight-bold requiredField{% endif %}">
                {% crispy_field field 'class' 'checkbox' %}
                {{ field.label|safe }}
            </label>
        </div>
    {% else %}
        <div id="div_{{ field.auto_id }}" class="input-group">
            {% crispy_field field 'placeholder' field.label 'class' 'form-control' %}
        </div>
    {% endif %}
{% endif %}
