{% extends "baseheader.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>

<p>Turing è un software open source per la gestione delle gare a squadre di Matematica.</p>
<p>Il nostro obiettivo è quello di rendere semplice e disponibile a tutti l'utilizzo di un motore per le gare a squadre. Sai che questo sito potrebbe girare senza problemi anche sul tuo computer?</p>

<h2>Il progetto</h2>

<p>
    Questo sito è sicuramente l'elemento più visibile di questo progetto, ma la parte fondamentale è la community che vorremmo creare.<br/>
    Puoi venirci a trovare:
    <ul>
        <li>su <a href="https://discord.gg/gMgJmPukUA" target="_blank">Discord</a>, per parlare con altri di Turing e di gare a squadre</li>
        <li>su <a href="https://gitlab.com/drago-96/turing" target="_blank">GitLab</a>, se sei interessato anche all'aspetto di sviluppo del programma</li>
    </ul>
</p>


<h2>Chi siamo</h2>

<p>Il team di sviluppatori è composto da Riccardo Zanotto, Matteo Migliorini, Federico Poloni, Matteo Protopapa e Matteo Rossi.</p>

{% endblock %}
