{% extends "baseheader.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h3>Imposta password</h3>
<p>La tua password è stata impostata con successo! Puoi ora
     <a href="{% url 'login' %}">autenticarti</a>.</p>
{% endblock %}
