{% extends "baseheader.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h3>Recupero password</h3>
<p>Ti abbiamo mandato via email le istruzioni per resettare la password,
    se l'indirizzo che hai inserito appartiene a un account.
    Le riceverai a breve.</p>
{% endblock %}
