{% extends "baseheader.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h3>Recupero password</h3>
<form method="post">{% csrf_token %}
    {{ form | crispy }}
    <input type="submit" id="submit" value="Reset password" class="btn btn-primary">
</form>

{% endblock %}
