{% extends "baseheader.html" %}

{% load crispy_forms_tags %}

{% block content %}

  <h3>Imposta password</h3>
  {% if validlink %}
    <p>Inserisci una nuova password per il tuo account.</p>
    <form method="post">{% csrf_token %}
        {{ form | crispy }}
        <input type="submit" id="submit" value="Imposta" class="btn btn-primary">
    </form>
  {% else %}
    <p>
      Il link di cambio password non è valido, forse in quanto è stato già utilizzato.
      Per favore, richiedine uno nuovo.
    </p>
  {% endif %}

{% endblock %}
